{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<section id="login">
		<div class="form">
			<form action="{{ path('app_login') }}" method="post">
				<div id="login-form">
					<div>
						<label for="username">Nom d'utilisateur :</label>
						<input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}"/>
					</div>

					<div>
						<label for="password">Mot de passe :</label>
						<input type="password" id="password" placeholder="password" name="_password"/>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn btn-success" type="submit">Se connecter</button>
					<a href="{{ path('app_homepage') }}" class="long__back__button">Annuler</a>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
