{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Modifier
		<strong>{{ user.username }}</strong>
	</h1>
{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
	<section id="edit-user">
		<div class="form">
			{{ form_start(form, {'action' : path('app_user_edit', {'id' : user.id})}) }}
			<div id="edit-user">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="form__group">
						{{ form_row(form.username) }}
					</div>
					<div class="form__group">
						{{ form_row(form.email) }}
					</div>
					<div class="form__group">
						{{ form_row(form.roles) }}
					</div>
					{{ form_row(form._token) }}
				{% endif %}
				{% if not is_granted('ROLE_ADMIN') %}
					<div class="form__group">
						{{ form_row(form.username) }}
					</div>
					<div class="form__group">
						{{ form_row(form.email) }}
					</div>
					<div class="form__group">
						{{ form_row(form.password) }}
					</div>
					{{ form_row(form._token) }}
				{% endif %}
			</div>
			<button type="submit" class="btn btn-success pull-right">Modifier</button>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_admin') }}" class="long__back__button">Annuler</a>
			{% else %}
				<a href="{{ path('app_homepage') }}" class="long__back__button">Annuler</a>
			{% endif %}

			{{ form_end(form, {render_rest: false}) }}
		</div>
	</section>
{% endblock %}
